<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Install>true</Install>
    <InstallFrom>Disk</InstallFrom>
    <UpdateEnabled>true</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateInterval>0</UpdateInterval>
    <UpdateIntervalUnits>Days</UpdateIntervalUnits>
    <CreateWebPage>false</CreateWebPage>
    <BootstrapperEnabled>true</BootstrapperEnabled>
    <SignManifests>false</SignManifests>
  </PropertyGroup>
</Project>

